@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --accent: #012341;
  --white: #ffffff;
  --primary: #025ead;
  --blue: #0275d8;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fa8815;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --bg: #eeeeee;
  --gray: #a9a9a9;
  --gray-dark: #343a40;
  --secondary: #31404b;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #f0ad4e;
  --danger: #dc3545;
  --dark: #1e2024;
  --primary-clr: #3742fa;
  --white-clr: #fff;
  --light-clr: #ced6e0;
  --dark-clr: #2f3542;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

strong {
  color: var(--primary);
}

html,
body {
  height: 100%;
  max-height: 9999px;
  display: block;
  background: #fff;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  font-family: "Poppins", sans-serif;
}

.venture {
  background: #fff;
  padding: 2rem 0;
  padding-bottom: 6rem;
}

@media (max-width: 1400px) {
  .venture .container {
    max-width: 929px;
  }
}

.venture .venture-title {
  line-height: 1;
  text-align: center;
}

.venture .venture-title span {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  font-weight: 500;
  color: var(--gray-dark);
}

.vt-card {
  width: 100%;
  max-width: 600px;
  margin: 2em auto;
  background-color: var(--white);
  /* border-radius: 15px; */
  margin-bottom: 1rem;
  padding: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.5s ease-in-out;
  position: relative;
}

.vt-card .main-content {
  text-align: center;
}

.vt-card main div.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 0 0;
}

.vt-card main div.coin-base,
.vt-card main .time-left,
.vt-card main .vt-more {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}
.vt-card main h1 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.vt-card main div.flex-row .coin-base {
  margin: 0 1rem;
}
.vt-card main div.flex-row .coin-base span {
  margin-right: 5px;
  font-weight: 500;
}

.vt-card main div.flex-row .coin-base h2 {
  font-size: 14px;
  line-height: 1;
  margin: 0;
  font-weight: 600;
}

.vt-card .vt-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.4rem;
}

.vt-card .vt-more a {
  background: var(--blue);
  padding: 12px 10px;
  color: white;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-weight: 600;
}

.vt-card .vt-more a i {
  font-size: 13px;
  margin-left: 4px;
  transition: all 0.3s ease;
}

.vt-card .vt-more a:hover {
  background: rgb(15, 73, 112);
  color: white;
}

.vt-card .vt-more a:hover i {
  transform: translate(2px, 0);
}

a.vt-image {
  position: relative;
  display: block;
  margin: auto;
  overflow: hidden;
}

a.vt-image .image {
  width: 100%;
  transition: all 0.4s;
}
a.vt-image:hover .image {
  transform: scale(1.1);
}
.vt-card .cost span {
  display: block;
  z-index: 5;
  position: absolute;
  top: 27px;
  font-weight: 600;
  color: #fff;
}
.vt-card .cost span strong {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.vt-card main .flex-row i {
  width: 1.2em;
  margin-right: 0.5em;
}

.vt-card .cost {
  position: absolute;
  top: 0;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  padding: 15px;
  width: 76px;
  height: 72px;
  right: 8px;
  z-index: 1;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.vt-card .cost:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: 13px;
  left: -34px;
  right: -13px;
  bottom: 24px;
  z-index: 4;
  border-color: var(--primary);
  border-width: 24px 24px 24px;
  border-style: solid;
  border-left-color: transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
}
