@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --accent: #012341;
  --white: #ffffff;
  --primary: #025ead;
  --blue: #0275d8;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fa8815;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --bg: #eeeeee;
  --gray: #a9a9a9;
  --gray-dark: #343a40;
  --secondary: #31404b;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #f0ad4e;
  --danger: #dc3545;
  --dark: #1e2024;
  --primary-clr: #3742fa;
  --white-clr: #fff;
  --light-clr: #ced6e0;
  --dark-clr: #2f3542;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

strong {
  color: var(--primary);
}

html,
body {
  height: 100%;
  max-height: 9999px;
  display: block;
  background: #fff;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  font-family: "Poppins", sans-serif;
}
