@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --accent: #012341;
  --white: #ffffff;
  --light-gray: #f5f5f5;
  --primary: #034bf1;
  --clr-ppr: #0564b6;
  --blue: #386af5;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fa8815;
  --yellow: #ffc107;
  --green: #0cc024;
  --teal: #20c997;
  --cyan: #17a2b8;
  --bg: #eeeeee;
  --gray: #a9a9a9;
  --gray-dark: #343a40;
  --secondary: #31404b;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #f0ad4e;
  --danger: #dc3545;
  --dark: #1e2024;
  --primary-clr: #3742fa;
  --white-clr: #fff;
  --light-clr: #ced6e0;
  --dark-clr: #2f3542;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --clr-accent-light: #00b8dd;

  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

strong {
  color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-secondary);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  max-height: 9999px;
  display: block;
  background: #fff;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto", sans-serif;
}
#wrapper {
  background: #fff;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.web-header {
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #fefefe;
}

@media only screen and (max-width: 768px) {
  .web-header {
    position: absolute;
    width: 100%;
    z-index: 2;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background-color: #fefefe;
  }
}

.header-top {
  text-align: center;
  background-color: var(--accent);
}

.header-top .slogan {
  color: var(--white);
  font-weight: 400;
  font-size: 15px;
  line-height: 34px;
  display: inline-block;
}

.mid-header {
  display: block;
}

@media only screen and (min-width: 992px) {
  #header .logo {
    position: absolute;
    width: 200px;
    height: 120px;
    z-index: 1;
    background-color: #fafafa; /*Shadow*/
    text-align: center;
    top: 0px;
    padding: 10px 10px;
    box-shadow: var(--box-shadow);
  }
}

#header .logo a {
  display: inline-block;
  width: 177px;
  height: 87px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: url(../images/logo.png) no-repeat;
  background-size: 100%;
}

@media only screen and (max-width: 991px) {
  #header .logo a {
    width: 128px;
    height: 63px;
  }
}

@media only screen and (min-width: 992px) {
  .mid-header .mid-header-right {
    text-align: right;
    height: 100%;
  }
}

.mid-header .info {
  margin: 0;
  padding: 23px 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mid-header .info > li:first-child {
  margin-left: 0;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .mid-header .info > li {
    margin-left: 25px;
  }
}

.mid-header .info > li {
  position: relative;
  display: inline-block;
  text-align: left;
  font-weight: bold;
  margin-left: 40px;
  padding-left: 40px;
  line-height: 1.3;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 300;
}

.mid-header .info > li i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 28px;
  color: var(--accent);
}

.mid-header .info > li a {
  display: block;
  font-size: 16px;
  color: var(--accent);
  font-weight: bold;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.mid-header .info > li p {
  font-weight: 500;
  margin: 0 !important;
}

@media (min-width: 991px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-toggle span {
  font-weight: 600;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 12px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle.toggle-color span {
  color: var(--primary);
}

.navbar-toggle.toggle-color span.fa-xmark {
  font-size: 18px;
}

@media only screen and (max-width: 991px) {
  #header .navbar-toggle {
    position: absolute;
    right: 0;
    top: 0;
    margin: 21px 0 21px 55px;
    border: 0;
  }
}

@media only screen and (max-width: 991px) {
  .header-top {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  #header .container {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 991px) {
  #header .logo {
    padding-top: 3px;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 991px) {
  #header .mid-header {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media only screen and (max-width: 991px) {
  #header .mid-header-right {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  #header .logo {
    float: left;
  }
}

@media (min-width: 768px) {
  .my-navbar {
    background: #fff;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
  }
}
/* .container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1300px;
} */
@media (min-width: 768px) {
  .nav-wrapper > .container {
    position: relative;
    z-index: 1;
  }
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .nav-list {
    position: absolute;
    top: 100%;
    z-index: 1;
    width: 100%;
    background: #fff;
  }
}

@media (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.nav-list > li > a {
  font: 700 15px/1 "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  letter-spacing: 0.2px;
  color: var(--dark-clr);
}
.nav-list > li > a:hover {
  color: #0275d8;
}

.nav-list > li.active:first-child > a {
  color: var(--dark-clr);
}

.nav-list > li.active > a {
  color: #0275d8;
}

.nav-list > li > a > i {
  font-size: 13px;
  margin-left: 3px;
}

.dropdown {
  position: unset;
}

@media (max-width: 768px) {
  .dropdown-menu {
    position: relative;
  }
}

.mega-menu > .dropdown {
  -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.drop-mega > .dropdown-menu > li:last-child {
  border-bottom: none;
}

@media (min-width: 768px) {
  .mega-menu > .dropdown > .dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1;
    max-height: 450px;
  }
}
@media (min-width: 991px) {
  .mega-menu > .dropdown > .dropdown-menu {
    /* height: 440px; */
    max-height: 490px;
  }
}

@media (min-width: 768px) {
  .drop-mega > .dropdown-menu {
    left: 0;
    right: 0;
    padding: 0 7px;
  }
}
.drop-mega > .dropdown-menu {
  display: none;
}
.nav-list > li.active .dropdown-menu {
  display: block;
}
.drop-mega > .dropdown-menu {
  margin: 0 auto;
  border: none;
}
.container,
.drop-mega > .dropdown-menu {
  max-width: 1300px;
}

@media (min-width: 768px) {
  .drop-mega > .dropdown-menu:before {
    content: "";
    background: #fff;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.15);
    border-color: #e9e9e9;
    border-style: solid;
    border-width: 1px 0;
    position: absolute;
    top: 0;
    left: -9999px;
    right: -9999px;
    bottom: 0;
    z-index: -1;
  }
}
.mega-menu .drop-mega.drop-active > .dropdown-menu {
  display: block;
}

@media (min-width: 768px) {
  .drop-mega > .dropdown-menu .dropdown-menu {
    padding: 8px 6px;
    position: absolute;
    top: 0;
    left: 220px;
    right: 0;
  }
}

.drop-mega > .dropdown-menu > li {
  border-color: #d8d8d8;
  border-style: solid;
  border-width: 0 1px 1px;
}
@media (min-width: 768px) {
  .drop-mega > .dropdown-menu > li {
    width: 260px;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .drop-mega > .dropdown-menu > li {
    width: 280px;
    display: flex;
  }
}
.drop-mega > .dropdown-menu > li > a {
  display: block;
  font-weight: 600;
  padding: 12px 14px;
  width: 100%;
}

.drop-mega > .dropdown-menu > li.level-active > a {
  color: #0275d8;
}
@media (max-width: 992px) {
  .drop-mega > .dropdown-menu > li > a {
    font-size: 15px;
    padding: 12px 14px;
  }
}

.drop-mega > .dropdown-menu > li > .mega-nav-wrapper .dropdown-menu {
  display: none;
}
@media (min-width: 768px) {
  .drop-mega
    > .dropdown-menu
    > li.level-active
    > .mega-nav-wrapper
    .dropdown-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) (2);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6px 18px;
    max-height: 432px;
    overflow-x: auto;
    border: none;
    margin-top: 5px;
  }
}
@media (min-width: 991px) {
  .drop-mega
    > .dropdown-menu
    > li.level-active
    > .mega-nav-wrapper
    .dropdown-menu {
    max-height: 470px;
    overflow-x: auto;
  }
}

@media (max-width: 768px) {
  .drop-mega > .dropdown-menu .dropdown-menu {
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .drop-mega
    > .dropdown-menu
    > li.level-active
    > .mega-nav-wrapper
    .dropdown-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) (1);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px 18px;
  }
}

@media (min-width: 768px) {
  .drop-mega > .dropdown-menu .dropdown-menu {
    padding: 8px 6px;
    position: absolute;
    top: 0;
    left: 270px;
    right: 0;
  }
}

@media (min-width: 992px) {
  .drop-mega > .dropdown-menu .mega-nav-wrapper {
    /* height: 100%;
    position: absolute;
    width: 100%;
    overflow: auto;
    z-index: -1;
    top: 0; */
  }

  .drop-mega > .dropdown-menu .mega-nav-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  .drop-mega > .dropdown-menu .mega-nav-wrapper::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
  }

  .drop-mega > .dropdown-menu .mega-nav-wrapper::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 5px;
  }
}

@media (min-width: 992px) {
  .drop-mega > .dropdown-menu .dropdown-menu {
    left: 280px;
  }
}

@media (min-width: 1200px) {
  .drop-mega > .dropdown-menu .dropdown-menu {
    left: 290px;
  }
}

.drop-mega > .dropdown-menu .dropdown-menu > li {
  width: 100%;
}
@media (min-width: 768px) {
  .drop-mega > .dropdown-menu .dropdown-menu > li {
    padding: 6px 5px;
  }
  .drop-mega > .dropdown-menu .dropdown-menu > li > a {
    color: var(--dark);
  }
  .drop-mega > .dropdown-menu .dropdown-menu > li > a:hover {
    color: #0275d8;
    text-decoration: underline;
  }
}

/* @media (min-width: 992px) {
  .drop-mega > .dropdown-menu .dropdown-menu > li {
    width: 33.33%;
  }
} */

@media (max-width: 991px) {
  nav {
    display: none;
  }
  nav.show-navbar {
    display: block;
  }
}

/*------------- Slider starts ------------------*/

.mySwiper {
  height: 600px;
  width: 100%;
  margin-bottom: 32px;
}

.splide {
  position: relative;
}

.mySwiper .splide__list .splide__slide {
  width: 100%;
  height: 100%;
}
.mySwiper .splide__track,
.mySwiper .splide__slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.mySwiper .splide__list .splide__slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mySwiper .splide__list .splide__slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.16);
}
.mySwiper .splide__list .splide__slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 100%;
}
.image-data span {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.image-data h2 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image-data a.trip-detail-btn {
  display: inline-block;
  padding: 9px 10px;
  border-radius: 6px;
  color: var(--dark);
  margin-top: 4px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(1px);
}

.image-data a.trip-detail-btn i {
  font-size: 12px;
  margin-left: 3px;
  transition: all 0.3s ease-in-out;
}
.image-data a.trip-detail-btn:hover {
  box-shadow: 0 0 5px 1px #ffffff;
}

.img-data-wrapper {
  margin-left: 10px;
}

.splide__arrow {
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  height: 1rem;
  width: 1rem;
}

@media only screen and (max-width: 991px) {
  .splide__arrow {
    display: none;
  }
}

.mySwiper .splide__arrows button {
  color: #fff;
  font-size: 32px;
}

.splide__pagination {
  display: none;
}

@media only screen and (max-width: 1369px) {
  .mySwiper {
    height: 550px;
  }

  .image-data span {
    font-size: 16px;
  }
  .image-data h2 {
    font-size: 34px;
  }

  .image-data a.trip-detail-btn {
    display: inline-block;
    padding: 8px 9px;
    border-radius: 6px;
    color: var(--dark);
    margin-top: 4px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(1px);
  }

  .image-data a.trip-detail-btn i {
    font-size: 11px;
    margin-left: 3px;
    transition: all 0.3s ease-in-out;
  }
}
@media only screen and (max-width: 1121px) {
  .mySwiper {
    height: 480px;
  }
}
@media only screen and (max-width: 991px) {
  .mySwiper {
    height: 420px;
  }
  .image-data span {
    font-size: 15px;
  }
  .image-data h2 {
    font-size: 34px;
  }

  .image-data a.trip-detail-btn {
    display: inline-block;
    padding: 7px 8px;
    border-radius: 6px;
    color: var(--dark);
    margin-top: 4px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(1px);
  }

  .image-data a.trip-detail-btn i {
    font-size: 11px;
    margin-left: 3px;
    transition: all 0.3s ease-in-out;
  }
}
@media only screen and (max-width: 769px) {
  .mySwiper {
    height: 360px;
  }
  .image-data span {
    font-size: 15px;
  }
  .image-data h2 {
    font-size: 24px;
  }

  .image-data a.trip-detail-btn {
    display: inline-block;
    padding: 7px 8px;
    border-radius: 5px;
    color: var(--dark);
    margin-top: 3px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(1px);
    font-size: 14px;
  }

  .image-data a.trip-detail-btn i {
    font-size: 10px;
    margin-left: 2px;
    transition: all 0.3s ease-in-out;
  }
}
@media only screen and (max-width: 600px) {
  .mySwiper {
    height: 320px;
  }
}
@media only screen and (min-width: 1369px) {
  .mySwiper {
    height: 620px;
  }
}

@media only screen and (min-width: 1551px) {
  .mySwiper {
    height: 725px;
  }
}

.trip-search {
  margin: 32px 0;
}

.trip-search .search-title {
  margin-top: 10px;
}
.trip-search .search-title span.title {
  position: relative;
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  color: var(--clr-accent-light);
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-left: 38px;
  z-index: 1;
  padding-bottom: 5px;
  border-radius: 8px;
}
.trip-search .search-title span.title::before {
  position: absolute;
  left: -40px;
  top: 8px;
  width: 30px;
  height: 2px;
  background-color: var(--clr-accent-light);
  content: "";
}

.trip-search .search-title h3 {
  color: var(--clr-accent-dark);
  font-weight: 700;
}
.trip-search form input[type="search"] {
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: 2px solid var(--clr-accent-light);
  padding: 0 16px;
}

.trip-search form input[type="search"]:focus {
  outline: none;
}

.trip-search form button {
  position: absolute;
  border: none;
  background: transparent;
}
.trip-search form button i {
  font-size: 24px;
  position: absolute;
  right: 12px;
  top: 4px;
  padding: 8px;
  color: var(--clr-accent-light);
}

/* Latest Start */

.latest-trip {
  background: #fff;
  padding: 32px 0;
  padding-bottom: 36px;
}

.latest-card {
  width: 100%;
  max-width: 400px;
  margin: 32px auto;
  background-color: transparent;
  margin-bottom: 1rem;
  transition: 0.5s ease-in-out;
  position: relative;
  border-radius: 5px;
}

a.latest-image {
  position: relative;
  display: block;
  margin: auto;
  overflow: hidden;
  border-radius: 5px;
}

a.latest-image img {
  width: 100%;
  transition: all 0.6s;
  border-radius: 5px;
}
a.latest-image:hover img {
  transform: scale(1.03);
}
.latest-detail {
  margin: 16px 8px;
}
.latest-detail .time-grade {
  display: flex;
  gap: 20px;
}
.latest-detail .time,
.latest-detail .grade {
  display: flex;
}
.latest-detail .time-grade span,
.latest-detail .time-grade h4 {
  font-size: 17px;
  color: var(--clr-accent-light);
}
.latest-detail .time-grade h4 {
  font-weight: 600;
  margin: 1px 0 0 4px;
  line-height: 1.5;
  font-size: 17px;
}

.latest-detail .trek-title {
  margin: 16px 0;
}
.latest-detail .trek-title h3 {
  font-size: 24px;
  color: var(--dark-clr);
  font-weight: 700;
}
.latest-wrap {
  margin: 50px auto 20px auto;
  max-width: 400px;
}

.latest-wrap h3.wrap-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.latest-wrap span.explore {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  padding-left: 28px;
}

.latest-wrap span.explore::after {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 20px;
  height: 3px;
  background-color: var(--clr-accent-light);
  content: "";
  border-radius: 4px;
}
.latest-wrap .detail {
  display: block;
}

.latest-wrap .join-us {
  margin-top: 60px;
}
.latest-wrap a.join {
  padding: 12px;
  background: var(--primary);
  border-radius: 10px;
  color: var(--white);
}
.latest-wrap a:hover {
  background: var(--blue);
}

.latest-card .pricing span {
  display: block;
  z-index: 5;
  position: absolute;
  top: 27px;
  font-weight: 600;
  color: #fff;
  right: 10px;
}

.latest-card .pricing span i {
  margin-right: 5px;
  transform: rotate(90deg);
}

.latest-card .pricing {
  position: absolute;
  top: 0;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  padding: 15px;
  width: 80px;
  height: 72px;
  left: 3px;
  z-index: 1;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.latest-card .pricing:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: 13px;
  left: -7px;
  right: -25px;
  bottom: 24px;
  z-index: 4;
  border-color: var(--green);
  border-width: 25px 25px 25px;
  border-style: solid;
  border-left-color: transparent;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.2);
}

/* ---------- Venture Start ---------- */

.venture {
  background: #fff;
  padding: 2rem 0;
  padding-bottom: 6rem;
}

@media (min-width: 1200px) {
  .venture .col-xl-4 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 1367px) {
  .venture .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333333%;
  }
}

/* 
@media (max-width: 1400px) {
  .venture .container {
    max-width: 929px;
  }
} */
@media (min-width: 1400px) {
  .venture .container {
    max-width: 1320px;
  }
}
.venture .venture-title {
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;
}

.venture .venture-title span.en-title {
  margin-top: 26px;
  position: relative;
  font-size: 36px;
  font-weight: 600;
  color: var(--gray-dark);
}

@media screen and (max-width: 768px) {
  .venture .venture-title span.en-title::before,
  .venture .venture-title span.en-title::after {
    display: none;
  }
}

.venture .venture-title span.en-title::before {
  position: absolute;
  left: -70px;
  top: 23px;
  width: 60px;
  height: 3px;
  background-color: var(--dark-clr);
  content: "";
  border-radius: 4px;
}
.venture .venture-title span.en-title::after {
  position: absolute;
  right: -70px;
  top: 26px;
  width: 60px;
  height: 3px;
  background-color: var(--dark-clr);
  content: "";
  border-radius: 4px;
}

.vt-card {
  width: 100%;
  max-width: 410px;
  background-color: var(--white);
  margin: 36px auto;
  padding: 0;
  transition: 0.5s ease-in-out;
  position: relative;
  padding: 8px;
  box-shadow: var(--box-shadow);
}

.vt-card .main-content {
  text-align: center;
}

.vt-card main div.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 0 0;
}

.vt-card main div.coin-base,
.vt-card main .time-left,
.vt-card main .vt-more {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}
.vt-card main h1 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.vt-card main div.flex-row .coin-base {
  margin: 0 1rem;
}
.vt-card main div.flex-row .coin-base span {
  margin-right: 5px;
  font-weight: 500;
}

.vt-card main div.flex-row .coin-base h2 {
  font-size: 14px;
  line-height: 1;
  margin: 0;
  font-weight: 600;
}

.vt-card .vt-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.4rem;
}

.vt-card .vt-more a {
  background: var(--blue);
  padding: 11px 9px;
  color: white;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-weight: 600;
}

.vt-card .vt-more a i {
  font-size: 13px;
  margin-left: 4px;
  transition: all 0.3s ease;
}

.vt-card .vt-more a:hover {
  background: var(--primary);
  color: white;
}

.vt-card .vt-more a:hover i {
  transform: translate(2px, 0);
}

a.vt-image {
  position: relative;
  display: block;
  margin: auto;
  overflow: hidden;
}

a.vt-image .image {
  width: 100%;
  transition: all 0.6s;
}
a.vt-image:hover .image {
  transform: scale(1.02);
}
.vt-card .cost span {
  display: block;
  z-index: 5;
  position: absolute;
  top: 27px;
  font-weight: 600;
  color: #fff;
  left: 8px;
}
.vt-card .cost span strong {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.vt-card main .flex-row i {
  width: 1.2em;
  margin-right: 0.5em;
}

.vt-card .cost {
  position: absolute;
  top: 0;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  padding: 15px;
  width: 76px;
  height: 72px;
  left: 5px;
  z-index: 1;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.vt-card .cost:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: 13px;
  left: -5px;
  right: -20px;
  bottom: 24px;
  z-index: 4;
  border-color: var(--green);
  border-width: 25px 25px 25px;
  border-style: solid;
  border-left-color: transparent;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.2);
}

/* ============================ Section   Customize ===================================== */
.customize-trip {
  background-color: var(--accent);
  position: relative;
  padding-bottom: 50px;
}

.customize-trip::before {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  content: "";
  bottom: 50px;
  top: -45px;
  background-color: var(--accent);
  -webkit-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
  z-index: 0;
}

.customize-trip h3 {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.customize-trip .container {
  position: relative;
  z-index: 2;
}

.customize-trip p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}
.customize-trip a {
  padding: 10px;
  color: #000;
  background: var(--yellow);
  border-radius: 4px;
  font-weight: 400;
}

.customize-trip a i {
  margin-left: 4px;
  font-size: 12px;
  transition: 0.4s ease-in-out;
}

.customize-trip a:hover i {
  transform: translate(2px, 0);
}

/* ============================About Us===================================== */

.my-intro {
  position: relative;
  margin-bottom: 32px;
  padding: 40px 0;
  /* background: var(--light-gray); */
}
.my-intro .container {
  max-width: 1100px;
}

.my-intro .wl-title {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.my-intro .wl-title .my-title {
  font-size: 20px;
  color: var(--gray-dark);
  font-weight: 600;
}
.my-intro .wl-title .sh-title {
  font-size: 22px;
  color: var(--primary);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.my-intro .intro-card {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}

.my-intro .intro-card .intro-text {
  text-align: center;
}
.my-intro .intro-card .intro-text p {
  color: var(--gray-dark);
  margin: 32px;
}
.my-intro .intro-card .intro-text b {
  color: var(--clr-ppr);
  font-weight: 500;
}

.my-intro .intro-card .read-intro {
  margin: 16px 0;
  width: 100%;
  text-align: center;
}
.my-intro .intro-card .read-intro a.read {
  padding: 10px;
  background: var(--primary);
  color: var(--white);
  border-radius: 5px;
  transition: 0.4s ease;
}
.my-intro .intro-card .read-intro a.read:hover {
  background: var(--blue);
}

.my-intro .intro-card .read-intro a i {
  margin-left: 3px;
  font-size: 12px;
  color: var(--white);
}
/* ============================About Us End===================================== */

/* ==========================Top Destinaitons======================================= */
.top-box {
  padding: 2rem 0;
  padding-bottom: 6rem;
  width: 100%;
  opacity: 1;
  background-image: url(../images/bg.png);
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
}

section.top-box .row {
  display: flex;
  text-align: center;
}

.top-box .top-title {
  display: flex;
  text-align: center;
  justify-content: center;
}

.top-box .top-title span {
  font-size: 2rem;
  color: var(--gray-dark);
  font-weight: 500;
}

.top-box .dest-card {
  position: relative;
  display: inline-block;
  max-width: 400px;
  margin: 2em auto;
  margin-bottom: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 1rem;
}

@media screen and (max-width: 771px) {
  .top-box .dest-card {
    max-width: 320px;
  }
}

.top-box .dest-card img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.top-box .dest-card .overlay {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 100%;
  display: flex;
}

.top-box .dest-card .overlay a {
  color: #fff;
  padding: 6px 8px;
  border-radius: 4px;
  border: 2px solid #fff;
  transition: 0.5s ease;
  font-weight: 500;
}

.top-box .dest-card .overlay a:is(:hover) {
  color: var(--gray-dark);
  background: #fff;
}

/* ============ Section Offer =========== */

/* ============================ Section Testimonial===================================== */

.site {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.site .container {
  max-width: 1300px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.testi {
  max-width: 1100px;
  margin: 0 auto;
}

.testi .head {
  text-align: center;
  margin-bottom: 60px;
}

.testi .head h3 {
  font-size: 34px;
  font-weight: 800;
}

.testi .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 30px 0;
}

/*First TESTOMONIAL*/

.testi .thumbnail {
  width: 150px;
  height: 150px;
  position: relative;
  flex-shrink: 0;
}

.testi .thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(2);
  transition: transform 0.5s;
}

.testi .swiper-slide-active .thumbnail img {
  transform: scale(1);
}

.testi .thumbnail::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 30px);
  height: calc(100% + 10px);
  background-color: var(--primary-clr);
  border-radius: 50%;
  z-index: -1;
  box-shadow: var(--box-shadow);
  transition: border-radius 0.5s 0.3s;
}

.testi .swiper-slide-active .thumbnail::before {
  border-radius: 33% 67% 50% 50% / 50% 14% 86% 50%;
}

.testi .aside {
  position: relative;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.testi .aside > span {
  position: relative;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  transform: translateX(10%);
  transition: transform 1s, opacity 1s;
  color: var(--gray-dark);
}
.testi .swiper-slide-active .aside > span {
  transform: translateX(0);
  opacity: 1;
}

.testi .aside > p {
  position: relative;
  font-size: 14px;
  line-height: normal;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateX(10%);
  transition: transform 1s, opacity 1s;
}

.testi .swiper-slide-active .aside > p {
  transform: translateX(0);
  opacity: 1;
}

.testi .aside > p::before,
.testi .aside > p::after {
  font-family: serif;
  font-size: 80px;
  font-weight: 800;
  line-height: 1;
  position: absolute;
  color: var(--light-clr);
  height: 40px;
  z-index: -1;
}

.testi .aside > p::before {
  content: open-quote;
  top: -40px;
  left: 10px;
}

.testi .aside > p::after {
  content: close-quote;
  right: 0;
}

.testi .aside .name {
  position: relative;
  width: fit-content;
  line-height: 1;
  opacity: 0;
  transform: translateX(30px);
  transition: transform 1s 0.2s, opacity 1s 0.3s;
}

.testi .swiper-slide-active .name {
  transform: translateX(0);
  opacity: 1;
}

.testi .aside .name h4 {
  font-size: 22px;
  font-weight: 800;
  color: var(--primary-clr);
  opacity: 1;
}

.testi .aside .name p {
  font-size: 12px;
  text-align: right;
  font-weight: 500;
}
.testi .aside .stars {
  position: absolute;
  bottom: 12%;
  left: 60%;
}

.testi .aside .stars {
  opacity: 0;
  transform: translateX(30px);
  transition: transform 1s 0.2s, opacity 1s 0.3s;
}
.testi .swiper-slide-active .aside .stars {
  transform: translateX(0);
  opacity: 1;
}

.testi .aside .stars i {
  color: orange;
  margin: 0 1px;
}

/*slider*/

.testi :is(.swiper-button-next-y, .swiper-button-prev-x) {
  background-color: var(--light-clr);
  top: 35%;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transition: background-color 0.3s;
  box-shadow: var(--box-shadow);
}

.testi :is(.swiper-button-next-y, .swiper-button-prev-x):hover {
  background-color: var(--primary-clr);
}

.testi :is(.swiper-button-next-y, .swiper-button-prev-x)::after {
  font-size: 16px;
  font-weight: 800;
  color: var(--white-clr);
}

.testi .swiper-pagination2 {
  position: relative;
}

.testi .swiper-pagination2 span {
  background-color: var(--light-clr);
  transition: width 0.3s;
  opacity: 1;
}

.testi .swiper-pagination2 .swiper-pagination-bullet-active {
  width: 26px;
  border-radius: 4px;
  background-color: var(--primary-clr);
}

@media screen and (min-width: 768px) {
  .testi {
    margin: 0 auto 4rem auto;
  }

  .testi .wrapper {
    flex-direction: row;
    padding: 30px 100px;
  }

  .testi .thumbnail {
    width: 200px;
    height: 200px;
  }

  .testi :is(.swiper-button-next-y, .swiper-button-prev-x) {
    top: 50%;
  }

  .testi .swiper-slide-active .name {
    transform: translateX(-50px);
  }
}

/* ============================ Section Service===================================== */

/* E-NEWS LETTER START */
section.e-news {
  background: var(--accent);
  padding: 4rem 0;
  margin: 1rem 0;
  position: relative;
}
section.e-news .e-text {
  text-align: center;
}

section.e-news .e-text span.e-title {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
}

section.e-news .e-text p.e-body {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.e-form {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

section.e-news .e-form form {
  background-color: #fff;
  width: 100%;
  max-width: 450px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: var(--box-shadow);
}

section.e-news .e-form form input {
  all: unset;
  font: 16px system-ui;
  color: var(--gray-dark);
  height: 100%;
  width: 100%;
  padding: 0 10px;
  font-weight: 500;
  border: none;
  outline: none;
}

section.e-news .e-form form button {
  /* all: unset; */
  cursor: pointer;
  min-width: 120px;
  height: 40px;
  padding: 0 8px;
  background: var(--primary);
  outline: none;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;

  /* transition: 0.5s ease; */
}

section.e-news .e-form form button span {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

/* E-NEWS LETTER END */

/* ============================ Section Featured===================================== */

.featured {
  padding: 32px 0;
}

.featured .container {
  max-width: 1320px;
}

.featured .title-box {
  margin: 20px 0;
}

.featured .title-box span {
  display: inline-block;
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: var(--dark);
}

/*/////////------------//////////*/

#demos .owl-carousel .item {
  height: 100%;
  background: none;
  padding: 0;
}

.owl-carousel.owl-drag .owl-item {
  width: 100%;
}
.owl-carousel.owl-drag .owl-item {
  border-radius: 4px;
}
.owl-carousel.owl-drag .owl-item .item {
  border-radius: 4px;
  background: transparent;
}
.owl-carousel.owl-drag .owl-item .item img {
  border-radius: 8px;
  transition: 0.4s ease;
  width: 100%;
}

.owl-item .item a.ft-image {
  position: relative;
  display: block;
  margin: auto;
  overflow: hidden;
  border-radius: 4px;
}
#demos .owl-carousel .item {
  background: transparent;
  margin: 12px;
}
.owl-item .item a.ft-image:hover img {
  transform: scale(1.03);
}

.owl-dots {
  display: none;
}

#demos .owl-carousel {
  position: relative;
}
.owl-nav {
  position: absolute;
  top: -90px;
  right: 20px;
}
.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 14px;
  margin: 12px;
  padding: 62px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  border-radius: 50%;
}
.owl-nav button span {
  font-size: 36px;
}

.owl-nav a {
  background: transparent;
  color: var(--dark);
  font-size: 20px;
  border-radius: 50%;
  width: 44px;
  transition: 0.4s all ease;
  border: 1px dashed var(--dark-clr);
}

.owl-nav a:hover {
  color: #fff;
  background: var(--primary);
  border-color: var(--primary);
}

.ft-detail {
  margin: 16px 8px;
}

.ft-detail .duration-grade {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.ft-detail .duration-grade span,
.ft-detail .duration-grade h4 {
  color: #333333;
  font-size: 15px;
}
.ft-detail .duration-grade span.trip-duration {
  font-size: 15px;
}

.ft-detail .duration-grade h4 {
  font-weight: 600;
  margin: 1px 0 0 4px;
  line-height: 1.5;
  font-size: 15px;
}

.dt-box,
.trip-grade {
  display: flex;
}

.ft-detail .title {
  margin: 16px 0;
  text-align: center;
}
.ft-detail .title h3 {
  font-size: 24px;
  color: var(--dark);
  font-weight: 700;
}

.trip-grade span i {
  transform: rotate(90deg);
}

/* <!-- Recent Post Start --> */

.blog {
  margin: 4rem 0;
}
.blog > .container {
  max-width: 1140px;
}
.blog-wrapper .row {
  row-gap: 25px;
}
.blog-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.blog-title {
  margin: 1rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.blog-title span {
  font-size: 2rem;
  font-weight: 600;
  color: var(--gray-dark);
}

.blog-title span strong {
  color: var(--clr-ppr);
}

.blog .see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blog .see-more a {
  color: var(--clr-ppr);
  padding: 8px 14px;
  transition: 0.4s ease;
  border-radius: 6px;
  transition: 0.6s ease;
  font-size: 18px;
  border: 2px solid var(--clr-ppr);
  font-weight: 500;
}

.blog .see-more a:hover {
  background: var(--clr-ppr);
  color: var(--white);
}

.blog .see-more a i {
  font-size: 13px;
  margin-left: 4px;
}

.blog-card.sub {
  z-index: 12;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  position: relative;
  background: #fff;
  /* box-shadow: var(--box-shadow); */
  border-radius: 10px;
}

.blog-card.sub::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 0;
  left: 10px;
  box-shadow: var(--box-shadow-normal), 0 0 0 transparent;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  border-radius: 10px;
}

.blog-card.sub > .blog-img {
  border-radius: 10px 10px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 280px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.blog-card.sub > .blog-img > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 250px;
  border-radius: 10px;
}

.blog-card.sub > .blog-img > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
}

.blog-card.sub > .blog-img > a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, transparent),
    to(rgba(0, 0, 0, 0.5))
  );
  background: -webkit-linear-gradient(
    top,
    transparent 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background: -o-linear-gradient(top, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  border-radius: 10px;
  z-index: 0;
}

.blog-card.sub > .blog-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 16px 10px 16px;
}

.blog-card.sub > .blog-content > .entry-meta > span {
  font-size: 14px;
  color: var(--clr-ppr);
  font-weight: 600;
}
.blog-card.sub > .blog-content > a > h3 {
  color: var(--gray-dark);
  font-size: 20px;
  font-weight: 700;
}

.blog-card.sub > .blog-content > .exit-meta > span {
  color: var(--dark);
  font-size: 15px;
  font-weight: 600;
}

.blog-card.main {
  width: 100%;
  height: 100%;
  max-height: 420px;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
}

.blog-card.main > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.blog-card.main > a.blog-link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, transparent),
    to(rgba(0, 0, 0, 0.9))
  );
  background: -webkit-linear-gradient(
    top,
    transparent 50%,
    rgba(0, 0, 0, 0.9) 100%
  );
  background: -o-linear-gradient(top, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(0, 0, 0, 0.9) 100%
  );
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  border-radius: 16px;
  z-index: 0;
}

.blog-card.main a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.blog-card.main .blog-content {
  position: absolute;
  bottom: 14px;
  left: 16px;
  padding: 0 20px;
}

.blog-card.main .blog-content .entry-meta span {
  color: rgb(0, 255, 0);
  font-weight: 500;
}

.blog-card.main .blog-content .post-title {
  color: var(--white);
  font-weight: 600;
}

.blog-card.main .blog-content .exit-meta .date {
  color: var(--white);
  font-weight: 300;
  font-size: 14px;
}

/* ============================ Section Footer===================================== */

.footer-ft {
  /* margin: 4rem 0; */
  background: var(--accent);
  padding: 4rem 0 1rem 0;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.footer-ft .logo {
  text-align: center;
}

.footer-ft .logo a img {
  width: 171px;
  height: 100%;
  max-width: 171px;
}

.footer-ft .ct-title,
.footer-ft .at-title {
  margin: 1rem 0;
}

.footer-ft .ct-title h4 {
  color: #fff;
  font-size: 18px;
}

.footer-ft .ct-detail .contact {
  margin-left: 1rem;
  color: #fff;
  line-height: 2;
  font-size: 13px;
  display: block;
}

.footer-ft .ct-detail span:is(:nth-child(4), :nth-child(5), :last-child) {
  margin-left: 2rem;
}

.footer-ft .at-title {
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.footer-ft .at-link {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-ft .at-link span {
  padding: 5px;
  background: #fff;
  border-radius: 4px;
}

.footer-ft .at-link img {
  height: 45px;
  width: 45px;
}

.footer-ft .logo {
  margin: 2rem 0;
  text-align: center;
}

.footer-ft .social-title {
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin: 1rem 0;
}

.footer-ft .sl-link {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.footer-ft .sl-link span a img {
  width: 32px;
  height: 32px;
}

.footer-ft hr {
  color: #fff;
}

.footer-ft .trademark .copyright .copyright-txt,
.footer-ft .trademark .designed-by .designed-txt {
  font-size: 13px;
  color: #fff;
}

.footer-ft .trademark .designed-by {
  text-align: right;
}

.footer-ft .trademark .designed-by span a {
  font-weight: 600;
  color: #fff;
}

.footer-ft .trademark .designed-by span a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 771px) {
  .footer-ft .trademark .copyright,
  .footer-ft .trademark .designed-by {
    text-align: center;
  }

  .footer-ft .ct-detail {
    text-align: center;
  }
}

#progress {
  z-index: 1000;
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 60px;
  width: 60px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}

#progress-value i {
  font-size: 2rem;
  color: var(--primary);
}

/* SINGLE CSS */

.trip-banner {
  position: relative;
  height: 700px;
  width: 100%;
  margin-bottom: 32px;
}

.trip-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.trip-banner img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media only screen and (max-width: 1369px) {
  .trip-banner {
    height: 550px;
  }
}

@media only screen and (max-width: 1121px) {
  .trip-banner {
    height: 480px;
  }
}

@media only screen and (max-width: 991px) {
  .trip-banner {
    height: 420px;
  }
}
@media only screen and (max-width: 769px) {
  .trip-banner {
    height: 360px;
  }
}

@media only screen and (max-width: 600px) {
  .trip-banner {
    height: 320px;
  }
}
@media only screen and (min-width: 1369px) {
  .trip-banner {
    height: 620px;
  }
}

@media only screen and (min-width: 1551px) {
  .trip-banner {
    height: 700px;
  }
}

.voyage-box h3 {
  font-size: 1.75em;
}
.voyage-box .container {
  max-width: 1300px;
}
@media (min-width: 1200px) {
  .voyage-box .container {
    max-width: 1300px;
  }
}

.voyage-box .trip-title {
  margin: 0 0 2rem 0;
}

.voyage-box .trip-title .th-title {
  font-size: 2rem;
  color: var(--gray-dark);
  font-weight: 600;
}

.voyage-box .trip-title .breadcrumb li {
  font-size: 13px;
  font-weight: 500;
}
.voyage-box .trip-title .breadcrumb .active {
  color: var(--clr-ppr);
}

@media screen and (min-width: 1200px) {
  .voyage-box :is(.col-md-8) {
    width: 70.5%;
  }
  .voyage-box :is(.col-md-4) {
    width: 29.5%;
  }

  .voyage-box .col-lg-8 {
    width: 70.5%;
  }
  .voyage-box .col-lg-4 {
    width: 29.5%;
  }
}

.package-facts ul {
  padding: 0;
  margin: -0.6rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.package-facts ul > li {
  list-style: none;
  padding: 16px;
  min-width: 50%;
  flex: 0 0 50%;
}

@media (min-width: 992px) {
  .package-facts ul > li {
    min-width: 25%;
    flex: 0 0 25%;
  }
}
.package-facts .item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.package-facts .item .icon {
  max-width: 32px;
  flex: 0 0 32px;
  height: 32px;
  display: inline-flex;
  color: #0b3c5d;
}

.package-facts .item .icon > img {
  width: 100%;
  height: 100%;
}

.package-facts .item .text {
  max-width: calc(100% - 32px);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% - 32px);
  padding-top: 10px;
  text-align: center;
}
.package-facts .item h5,
.package-facts .item h6 {
  line-height: 1.4;
  margin: 0;
  letter-spacing: 0;
}
.package-facts .item h6 {
  font-size: 13.6px;
  color: var(--gray-dark);
  font-weight: 600;
}

.package-facts .item h5 {
  font-size: 1rem;
  color: #0b3c5d;
  text-transform: capitalize;
}

/*Trip Facts End*/

/*Trip Overview Start*/

.about-trip {
  margin: 2rem 0;
}

.about-trip .trip-title h3 {
  font-weight: 600;
  color: var(--dark-clr);
}

.about-trip .text-box {
  /* border: 1px solid #e1e1e1; */
  padding: 10px;
  background-color: #fff;
  margin-bottom: 40px;
}

.about-trip .text-box p {
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 16px;
  font-family: var(--ff-secondary);
}

.about-trip .text-box p strong{
  color: var(--clr-ppr);
}

.about-trip .text-box p b {
  font-size: 16px;
}

/*******Itinerary*******/
.itinerary-wrap {
  margin: 1rem 0;
}

.itinerary-wrap .it-title h3 {
  font-weight: 600;
  color: var(--dark-clr);
}

.itinerary-wrap .inner-wrap {
  padding: 16px;
  background-color: #fff;
  margin-bottom: 40px;
}

.itinerary-wrap .inner-wrap .itinerary-main {
  margin: 0;
  padding: 0;
}
.itinerary-main .itinerary {
  border: none;
  box-shadow: none;
  position: relative;
  background-color: transparent;
  border-bottom: 1px dashed #c8c8c8;
  padding-bottom: 20px;
  margin-bottom: 14px;
}

.itinerary-main .itinerary:last-child {
  border: none;
}
.itinerary .head-it {
  position: relative;
  padding-right: 40px;
}
.itinerary .head-it a {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  display: block !important;
  padding: 0;
  position: relative;
  border: 0;
  background-color: transparent;
  -webkit-transition: none;
  transition: none;
  color: var(--gray-dark);
}
.itinerary .head-it a > h4 {
  font-size: 16.1px;
}

.itinerary .head-it a span {
  font-weight: bold;
  color: var(--clr-ppr);
  padding-right: 10px;
}
.itinerary .head-it a[aria-expanded="true"]::after {
  content: "\f068";
  font-weight: 700;
}
.itinerary .head-it a::after {
  position: absolute;
  right: -35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f067";
  font-size: 14px;
  font-weight: 700;
}

.itinerary .itinerary-body {
  padding: 15px 25px 5px 70px;
}
.itinerary .itinerary-body p {
  color: var(--gray-dark);
  font-size: 15.5px;
  font-family: var(--ff-secondary);
}
.itinerary .itinerary-body p:last-child {
  margin: 0;
}

/* ------ trek map start------- */
.trek-map {
}
.trek-map .map-title .title {
  color: var(--gray-dark);
  font-weight: 600;
  margin-bottom: 16px;
}
.trek-map .map-wrapper {
  width: 100%;
  height: 100%;
  max-width: fit-content;
  border: 1px solid #e1e1e1;
  padding: 5px;
}
.trek-map .map-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------ Trek Gallery ------ */

/******* INclude && Excludes********/

.costing {
  margin: 2rem 0;
}

.costing .cost-title h3 {
  font-weight: 600;
  color: var(--dark-clr);
}

.costing .cost-wrap {
  padding: 16px;
  background-color: #fff;
  margin-bottom: 40px;
}
.costing .cost-inc .inc-title h3,
.costing .cost-exc .exc-title h3 {
  color: var(--clr-ppr);
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 12px;
}
.costing .cost-wrap ul {
  margin-left: 20px;
}

.costing .cost-wrap ul li {
  text-align: left;
  list-style: none;
  position: relative;
  display: block;
  padding-left: 24px;
  margin-bottom: 10px;
  line-height: 1.4;
  font-family: var(--ff-secondary);
  font-size: 16.1px;
}

.costing .cost-wrap .cost-inc ul li::before {
  content: "\f00c";
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "FontAwesome";
  font-size: 16px;
  color: var(--green);
  font-weight: 800;
}

.costing .cost-wrap .cost-exc ul li::before {
  content: "\f00d";
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "FontAwesome";
  font-size: 16px;
  color: #e70404;
  font-weight: 800;
}
/* 
@media screen and (min-width: 991px) {
  .page-right {
    margin-top: 95px;
  }
}
.page-right .trip-info {
  border: 1px solid #e1e1e1;
  padding: 25px;
  background-color: #fff;
  border-radius: 2px;
}

.page-right .trip-info h3 {
  font-size: 18px;
  color: #fff;
  position: relative;
  margin-bottom: 20px;
  margin-top: -20px;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1;
  font-weight: 600;
}

.page-right .trip-info h3::before {
  position: absolute;
  left: -20px;
  right: -20px;
  bottom: 0;
  top: 0;
  content: "";
  display: inline-block;
  z-index: -1;
  background-color: #0e76bc;
  border-radius: 0;
}
.page-right .trip-info h3:after {
  position: absolute;
  left: -20px;
  top: 100%;
  content: "";
  border-right: 210px solid transparent;
  border-top: 8px solid #f7941e;
}
.trip-info ul {
  padding: 0;
  margin: -10px 0;
}
.trip-info ul li {
  list-style: none;
  border-top: 1px solid #e1e1e1;
}

.trip-info ul li:first-child {
  border-top: 0;
}
.trip-info ul li a {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  display: block;
  padding: 12px 0 12px 22px;
  position: relative;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.trip-info ul li a:hover {
  color: var(--primary);
  text-decoration: underline;
}
.trip-info ul li a:before {
  content: "\f178";
  display: inline-block;
  font-weight: normal;
  font-family: "FontAwesome";
  top: 15px;
  position: absolute;
  left: 0;
  font-size: 13px;
  font-weight: bold;
}
.gallery .gallery-title h3 {
  margin-bottom: 12px;
}

.thumbnail-wrapper {
  border: 1px solid #e1e1e1;
  max-width: 900px;
  margin: 0 0 2rem 0;
}

#main-carousel {
  padding: 8px;
}
#main-carousel .splide__slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 500px;
}

#main-carousel .splide__slide {
  opacity: 0.6;
}

#main-carousel .splide__slide.is-active {
  opacity: 1;
}
#thumbnail-carousel {
  padding: 0 8px 4px 8px;
}

#thumbnail-carousel
  .splide__track--nav
  > .splide__list
  > .splide__slide.is-active {
  border: 3px solid #fff;
}

#thumbnail-carousel .splide__track .splide__list .splide__slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#thumbnail-carousel .splide__arrows button {
  color: #fff;
  font-size: 24px;
  opacity: 1;
}

.page-right .enquiry {
  margin-top: 2rem;
  border: 1px solid #e1e1e1;
  padding: 25px 25px 0px 25px;
  background-color: #fff;
  border-radius: 2px;
}

.page-right .enquiry h3 {
  font-size: 18px;
  color: #fff;
  position: relative;
  margin-bottom: 20px;
  margin-top: -20px;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1;
  font-weight: 600;
}

.page-right .enquiry h3::before {
  position: absolute;
  left: -20px;
  right: -20px;
  bottom: 0;
  top: 0;
  content: "";
  display: inline-block;
  z-index: -1;
  background-color: #0e76bc;
  border-radius: 0;
}
.page-right .enquiry h3:after {
  position: absolute;
  left: -20px;
  top: 100%;
  content: "";
  border-right: 210px solid transparent;
  border-top: 8px solid #f7941e;
}

.page-right .enquiry form {
  padding-top: 10px;
}
.page-right .enquiry form .row {
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.page-right .enquiry form .textarea {
  height: 100%;
}

.page-right .enquiry form textarea {
  height: 100%;
  width: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
.page-right .enquiry .row textarea::placeholder {
  color: #999;
}
.page-right .enquiry form .row input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
.page-right .enquiry .row input:focus {
  border-color: #3232326c;
  box-shadow: inset 0px 0px 2px 2px rgba(172, 172, 172, 0.25);
}
.page-right .enquiry .row input::placeholder {
  color: #999;
}
.page-right .enquiry form .row i {
  position: absolute;
  width: 47px;
  height: 100%;
  color: var(--gray-dark);
  font-size: 18px;
  background: var(--bg);
  border: 1px solid lightgrey;
  border-radius: 3px 0 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-right .enquiry form .button input {
  color: var(--dark-clr);
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  cursor: pointer;
  transition: 0.4s ease;
}
.page-right .enquiry form .button input:hover {
  background: var(--primary);
  color: #fff;
}

.similar-pack {
  margin-top: 2rem;
}

.similar-pack .pack-title {
  line-height: 1;
}

.similar-pack .pack-title h3 {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--gray-dark);
}

.pack-card {
  width: 100%;
  max-width: 360px;
  margin: 0.2em auto;
  background-color: var(--white);
 
  margin-bottom: 1rem;
  padding: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.5s ease-in-out;
}
.pack-card .pack-ct {
  text-align: center;
}

.pack-card main div.pack-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}
.pack-card main div.pack-price-d {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}

.pack-card main div.pack-row .pack-price-d {
  margin: 0 1rem;
}

.pack-card main div.pack-row .pack-price-d h2 {
  font-size: 14px;
  line-height: 1;
  margin: 0;
}
.pack-card main h1 {
  font-size: 20px;
  font-weight: 600;
}

.pack-card .pack-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.4rem;
}
.pack-card .pack-more a {
  background: var(--primary);
  font-size: 14px;
  padding: 8px 10px;
  color: white;
  border-radius: 5px;
  transition: 0.3s ease;
}

.pack-card .pack-more a i {
  font-size: 11px;
  margin-left: 4px;
  transition: 0.4s ease-in-out;
}

.pack-card .pack-more a:hover {
  background: rgb(15, 73, 112);
  color: white;
}

.pack-card .pack-more a:hover i {
  transform: translate(2px, 0);
}

a.pack-image {
  position: relative;
  display: block;
}

a.pack-image .image {
  width: 100%;
}

.pack-image::after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5rem;
  background-color: hsla(0, 0%, 0%, 0.151);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.pack-image:hover::after {
  opacity: 1;
}

.pack-card main .pack-row i {
  width: 1.2em;
  margin-right: 0.5em;
} */

/*  Cookie Concent*/

.cookie-wrapper {
  z-index: 1000;
  position: fixed;
  bottom: 20px;
  right: -370px;
  max-width: 345px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 15px 25px 22px;
  transition: right 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.cookie-wrapper.show {
  right: 20px;
}
.cookie-wrapper header {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.cookie-wrapper header i {
  color: #4070f4;
  font-size: 32px;
}
.cookie-wrapper header h2 {
  color: #4070f4;
  font-weight: 500;
  font-size: 24px;
  margin: 0;
}
.cookie-wrapper .cookie-data {
  margin-top: 16px;
}
.cookie-wrapper .cookie-data p {
  color: #333;
  font-size: 15px;
}
.cookie-wrapper .cookie-data p a {
  color: #4070f4;
  text-decoration: none;
}
.cookie-wrapper .cookie-data p a:hover {
  text-decoration: underline;
}
.cookie-wrapper .cookie-buttons {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cookie-buttons .cookie-button {
  border: none;
  color: #fff;
  padding: 8px 0;
  border-radius: 4px;
  background: #4070f4;
  cursor: pointer;
  width: calc(100% / 2 - 10px);
  transition: all 0.2s ease;
}
.cookie-buttons #acceptBtn:hover {
  background-color: #034bf1;
}
.cookie-buttons #declineBtn {
  border: 2px solid #4070f4;
  background-color: #fff;
  color: #4070f4;
  padding: 7px 0;
}
.cookie-buttons #declineBtn:hover {
  background-color: #4070f4;
  color: #fff;
}
