@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

strong {
  color: var(--primary);
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  max-height: 9999px;
  display: block;
  background: #fff;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  font-family: "Poppins", sans-serif;
}

.carousel-wrapper {
  height: 550px;
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

.carousel-wrapper .carousel img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.carousel-wrapper .carousel::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.carousel-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 100%;
}

.carousel-data span {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.carousel-data h3 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.carousel-data a.learn-more {
  display: inline-block;
  padding: 9px 10px;
  border-radius: 6px;
  color: var(--dark);
  margin-top: 4px;
  /* transition: all 0.4s ease; */
  font-weight: 500;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(1px);
}

.carousel-data a.learn-more i {
  font-size: 12px;
  margin-left: 3px;
  transition: all 0.3s ease-in-out;
}
.carousel-data a.learn-more:hover {
  box-shadow: 0 0 5px 1px #ffffff;
}

@media only screen and (max-width: 1369px) {
  .carousel {
    height: 550px;
  }
  .carousel-wrapper {
    height: 550px;
  }
}
@media only screen and (max-width: 1121px) {
  .carousel {
    height: 480px;
  }
  .carousel-wrapper {
    height: 480px;
  }
}
@media only screen and (max-width: 991px) {
  .carousel {
    height: 420px;
  }
  .carousel-wrapper {
    height: 420px;
  }
}
@media only screen and (max-width: 769px) {
  .carousel {
    height: 360px;
  }
  .carousel-wrapper {
    height: 360px;
  }
}
@media only screen and (max-width: 600px) {
  .carousel {
    height: 320px;
  }
  .carousel-wrapper {
    height: 320px;
  }
  .carousel-data .trip-quote {
    font-size: 12px;
  }
  .carousel-data h3 {
    font-size: 25px;
  }
}
