@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
    --clr-accent: #025ead;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    /* background: #e7e7e7; */
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(32, 32, 32, 0.2);
    z-index: -1;
}

h4 {
    color: #2f3542;
}


.content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    padding: 2em 0;
}

.content .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .logo img {
    width: 187px;
    height: 100%;
}


.form-content {
    width: 350px;
    padding: 0 2em;
}





.txt_field {
    width: 100%;
    margin-top: 1.5rem;
    font-size: 18px;
}

.txt_field h4 {
    font-weight: 700;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 40px;
    margin-top: 0.5em;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #2f3542;
    font-size: 14px;
    font-weight: 600;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
}

small {
    color: red;
    font-weight: 500;
    font-size: 14px;
}

.remember_me {
    width: 100%;
    margin: 1em 0;
}

input[type="submit"] {
    width: 100%;
    height: 40px;
    background: var(--clr-accent);
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    transition: 0.4s ease;
}

input[type="submit"]:hover {
    cursor: pointer;
    background: #0077df;
}

.content .forgot {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.content .forgot a {
    color: #025ead;
    text-decoration: none;
    font-weight: 500;
}

.content .forgot a:hover {
    text-decoration: underline;
}